#board 
{
    width: 480px;
    height: 480px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 0;
    margin: auto;
}

.box 
{
    width: 58px;
    height: 58px;
    border: 1px solid black;
    z-index: 1;
}

.green 
{
    
    background: cyan;
}

.white
{
    background: white;
}

.piecePhoto 
{
    width: 48px;
    height: 48px;
    padding: 5px;
    z-index: 2;
}

.dot 
{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  margin-left: 17px;
  margin-top: 17px;
  position: absolute;
}

html, body
{
    margin: 0;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header,footer 
{
    flex: none;
    background-color: cyan;
    text-align: center;
    height: 10%;
}
main
{
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    flex: auto;
    text-align: center;
}

@media only screen and (max-width: 500px) 
{
    #board 
    {
        width: 320px;
        height: 320px;
    }

    .box 
    {
        height: 38px;
        width: 38px;
    }

    .piecePhoto
    {
        height: 32px;
        width: 32px;
        padding: 3px;
    }

    .dot 
    {   
        height: 18px;
        width: 18px;
        margin-left: 10px;
        margin-top: 10px;
    }
}
